/.venv
/flappy-bird
/snake
/tentativas_repetidas.py
/__pycache__
/_.github/preview_files
/stone_pelo_terminal/__pycache__
/stone_pelo_terminal/'Versões Desafio'
/stone_pygame/__pycache__
/stone_pygame_all/__pycache__
/stone_pygame_all/'Desafio Stone - Automata Maze Challenge.mp4'
/stone_pygame_all/result.txt
/stone_pygame_ia/__pycache__
/'Anotações Stone.txt'